{% extends 'base.html' %}
 {% load static %}
{% block content %}
<div class="container">
    <h2>Liste de recherche</h2>
    <div class="row">
        {% for article in liste_article %}
        <div class="col-12 col-md-6 col-lg-3 col-xl-3">
            <div class="card mb-3">
          
              {% if article.image == "http://default" %}
              <a href="{% url 'detail' article.id %}">
                <img class="card-img-top" src="{% static 'img/Blog-transparent.png'  %}" alt="Card image cap" style="height: 240px;">
              </a>
              {% else %}
              <a href="{% url 'detail' article.id %}">
                <img class="card-img-top" src="{{article.image.url}}" alt="Card image cap" style="height: 240px;">
              </a>
              {% endif %}
            
              <!-- Card content -->
              <div class="card-body" style="height: 240px;">
            
                <!-- Title -->
                <h4 class="card-title"><a href="{% url 'detail' article.id %}">{{article.title}}</a></h4>
                <!-- Text -->
                <p class="card-text">{{article.desc|truncatewords:8}}</p>
                <p class="card-text">publié il y a {{article.created_at|timesince}}</p>
                <!-- Button -->
                <a href="{% url 'detail' article.id %}" class="btn btn-primary">Lire la suite</a>
            
              </div>
            
            </div>
            <!-- Card -->
            </div>
         
        {% endfor %}

    </div>
</div>
{% endblock %}